@page
@model ProyectoCiclo3.App.Frontend.Pages.FormServiciosModel
@{
}


@* <div class="text-center"> *@
<form method="post" class="row g-3">
   
    <div class="col-md-4">
        <label for="origen" class="form-label">Origen:</label>
        <select name="origen" class="form-control" required>
            <option value="">-</option>
            @foreach (var Usuarios in Model.Users)
            {
                <option value="@Usuarios.id">@Usuarios.nombre @Usuarios.apellidos - @Usuarios.ciudad</option>
            }
        </select>
    </div>
    <div class="col-md-4">
        <label for="destino" class="form-label">Destino:</label>
        <select name="destino" class="form-control" required>
            <option value="">-</option>
            @foreach (var Usuarios in Model.Users)
            {
                <option value="@Usuarios.id">@Usuarios.nombre @Usuarios.apellidos - @Usuarios.ciudad</option>
            }
        </select>
    </div>
    <div class="col-md-4">
        <label for="fecha" class="form-label">Fecha y Hora:</label>
        <input type="datetime-local" class="form-control" id="fecha" placeholder="Fecha" name="fecha" required>
    </div>
    @* <div class="col-md-2">
        <label for="hora" class="form-label">Hora:</label>
        <input type="time" class="form-control" id="hora" placeholder="Hora" name="hora" required>
    </div> *@
    <div class="col-md-12"><p></p></div>
    
    <div class="col-12">
        <label for="encomienda" class="form-label">Encomienda:</label>
        <select name="encomienda" class="form-control" required>
            <option value="">-</option>
            @foreach (var Encomienda in Model.Encomiendas)
            {
                <option value="@Encomienda.id">@Encomienda.descripcion - @Encomienda.peso</option>
            }
        </select>
    </div>
    <div class="col-12 text-center">
        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
        <a class="btn btn-info" asp-page="/Servicios/List"><i
                    class="fas fa-adjust"></i>Volver</a>
    </div>
</form>
@* </div> *@