@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsServicioModel
@{
    var servicio = Model.Servicio;
}
 
<div class="card mb-3" style="max-width: 30rem;">
    <img height="200px"
        src="https://img.lalr.co/cms/2021/04/27113242/Amazon-1.jpg?size=xl&ratio=r40_21"
        class="card-img-top" alt="...">
    <div class="card-body text-white bg-warning">
        <h5 class="card-title text-center bi bi-truck"> SERVICIO</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>id: </b> @servicio.id <br>
            <b>Origen: </b> @servicio.origen.nombre @servicio.origen.apellidos 
            de @servicio.origen.ciudad (@servicio.origen.telefono)<br>
            <b>Destino: </b> @servicio.destino.nombre @servicio.destino.apellidos 
            de @servicio.destino.ciudad (@servicio.destino.telefono)
        </li>
        <li class="list-group-item"><b>Fecha y Hora: </b> @servicio.fecha <br>
            @* <b>Hora: </b> @servicio.hora <br> *@
            <b>Encomienda: </b> @servicio.encomienda.descripcion - @servicio.encomienda.peso Kg
        </li>
    </ul>
    <div class="card-body text-center">
        <a class="btn btn-info" asp-page="/Servicios/List"><i class="fas fa-adjust"></i>Volver</a>
    </div>
</div>