@page
@model ProyectoCiclo3.App.Frontend.Pages.EditServiciosModel
@{
    var servicio = Model.Servicios;
}

@* <div class="text-center"> *@
<form method="post" class="row g-3">
    <div class="col-md-1">
    <label for="id" class="form-label">ID:</label>
    <input type="number" class="form-control d-none" id="id" name="id" placeholder="ID" asp-for="@servicio.id">
    </div>    
    <div class="col-md-4">
        @* Pendiente por validar origen y destino *@
        <label for="origen" class="form-label">Origen:</label>
        <input type="number" class="form-control" id="origen" name="origen" placeholder="Origen" asp-for="@servicio.origen">
    </div>
    <div class="col-md-4">
        <label for="destino" class="form-label">Destino:</label>
        <input type="number" class="form-control" id="destino" name="destino" placeholder="Destino" asp-for="@servicio.destino">
    </div>
    <div class="col-md">
        <label for="fecha" class="form-label">Fecha:</label>
        <input type="Date" class="form-control" id="fecha" name="fecha" placeholder="Fecha" asp-for="@servicio.fecha">
    </div>
    <div class="col-md">
        <label for="hora" class="form-label">Hora:</label>
        <input type="time" class="form-control" id="hora" name="hora" placeholder="Hora" asp-for="@servicio.hora">
        @* Pendiente por definir *@
    </div>
    <div class="col-md-12"><p></p></div>
    
    <div class="col-12">
        <label for="encomienda" class="form-label">Encomienda:</label>
        <input type="number" class="form-control" id="encomienda" name="encomienda" placeholder="Encomienda" asp-for="@servicio.encomienda">
    </div>
    <div class="col-12 text-center">
        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
    </div>
</form>
@* </div> *@