@page
@model ProyectoCiclo3.App.Frontend.Pages.ListServiciosModel
@{
}
 
<h1>Listado de Servicios</h1>
<table class="table">
    <thead>
        <th>Id</th>
        <th>Origen</th>
        <th>Destino</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Encomienda</th>
    </thead>
    @foreach (var Servicio in Model.Servicios)
    {
        <tr>
            <td>@Servicio.id</td>
            <td>@Servicio.origen</td>
            <td>@Servicio.destino</td>
            <td>@Servicio.fecha</td>
            <td>@Servicio.hora</td>
            <td>@Servicio.encomienda</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-servicioId="@Servicio.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-servicioId="@Servicio.id">Editar</a>
              <form method="POST">
              <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@Servicio.id">
                <button type="submit"class="btn btn-danger" href="">Eliminar</button>
              </form>
              </td>
        </tr>
    }
</table>
