@page
@model ProyectoCiclo3.App.Frontend.Pages.ListEncomiendaModel
@{
}

<h1>Listado de Encomiendas</h1>
<table class="table">
  <thead>
    <tr class="text-center fs-4">
      <th scope="col" class="text-uppercase">id</th>
      <th scope="col" class="text-uppercase">Descripción</th>
      <th scope="col">PESO Kg</th>
      <th scope="col" class="text-uppercase">Tipo</th>
      <th scope="col" class="text-uppercase">Presentación</th>
    </tr>
  </thead>
  @foreach (var Encomienda in Model.Encomienda)
  {
    <tr>
      <td>@Encomienda.id</td>
      <td>@Encomienda.descripcion</td>
      <td>@Encomienda.peso</td>
      <td>@Encomienda.tipo</td>
      <td>@Encomienda.presentacion</td>
      <td>
        <a class="btn btn-success" asp-page="./Details" asp-route-EncomiendaId="@Encomienda.id"><i
          class="fas fa-adjust"></i>Ver</a>
        <a class="btn btn-info" asp-page="./Edit" asp-route-EncomiendaId="@Encomienda.id">Editar</a>
        <a class="btn btn-danger" href="">Eliminar</a>
      </td>
    </tr>
  }
</table>
