@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsUsuariosModel
@{
    var Usuarios = Model.Usuarios;
}
 
<ul class="list-group list-group-flush">
  <li class="list-group-item"> <b>ID: </b> @Usuarios.id</li>
  <li class="list-group-item"> <b>Nombres: </b> @Usuarios.nombre</li>
  <li class="list-group-item"> <b>Apellidos: </b> @Usuarios.apellidos</li>
  <li class="list-group-item"><b>Dirección: </b> @Usuarios.direccion</li>
  <li class="list-group-item"><b>Ciudad: </b> @Usuarios.ciudad</li>
  <li class="list-group-item"><b>Teléfono: </b> @Usuarios.telefono</li>
  <div class="col-12 text-center">
        <hr>
        <a class="btn btn-info" asp-page="/Usuario/List"><i
                    class="fas fa-adjust"></i>Volver</a>
    </div>
</ul>	
