@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsUsuariosModel
@{
    var Usuarios = Model.Usuarios;
}
 
<div class="card mb-3" style="max-width: 30rem;">
    <img height="200px" src="https://static.dw.com/image/55560274_403.jpg"
        class="card-img-top" alt="...">
    <div class="card-body text-white bg-warning">
        <h5 class="card-title text-center bi bi-person-lines-fill"> USUARIO</h5>
    </div>
    <ul class="list-group list-group-flush">
  <li class="list-group-item"> <b>ID: </b> @Usuarios.id <br>
  <b>Nombres: </b> @Usuarios.nombre <br>
  <b>Apellidos: </b> @Usuarios.apellidos</li>
  <li class="list-group-item"><b>Dirección: </b> @Usuarios.direccion <br>
  <b>Ciudad: </b> @Usuarios.ciudad <br>
  <b>Teléfono: </b> @Usuarios.telefono</li>
    </ul>
    <div class="card-body text-center">
        <a class="btn btn-info" asp-page="/Usuario/List"><i class="fas fa-adjust"></i>Volver</a>
    </div>
</div>	
