@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsUsuariosModel
@{
    var Usuarios = Model.Usuarios;
}
 
<ul class="list-group list-group-flush">
  <li class="list-group-item"> <b>ID: </b> @Usuarios.id</li>
  <li class="list-group-item"> <b>Nombre: </b> @Usuarios.nombre</li>
  <li class="list-group-item"> <b>Apellidos: </b> @Usuarios.apellidos</li>
  <li class="list-group-item"><b>Dirección: </b> @Usuarios.direccion</li>
  <li class="list-group-item"><b>Ciudad: </b> @Usuarios.ciudad</li>
  <li class="list-group-item"><b>Teléfono: </b> @Usuarios.telefono</li>
</ul>	
