@page
@model ProyectoCiclo3.App.Frontend.Pages.ListUsuariosModel
@{
}

<h1>Listado de Usuarios</h1>
<table class="table">

  <thead>
    <tr class="text-center text-uppercase fs-4">
      <th scope="col">ID</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Dirección</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Teléfono</th>
    </tr>
  </thead>
  @foreach (var Usuarios in Model.Usuarios)
  {
    <tr>
      <td>@Usuarios.id</td>
      <td>@Usuarios.nombre</td>
      <td>@Usuarios.apellidos</td>
      <td>@Usuarios.direccion</td>
      <td>@Usuarios.ciudad</td>
      <td>@Usuarios.telefono</td>
      <td>
        <a class="btn btn-success" asp-page="./Details" asp-route-UsuariosId="@Usuarios.id"><i
          class="fas fa-adjust"></i>Ver</a>
        <a class="btn btn-info" asp-page="./Edit" asp-route-UsuariosId="@Usuarios.id">Editar</a>
        <form method="post">
          <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@Usuarios.id">
        <button type="submit" class="btn btn-danger" href="">Eliminar</button>
        </form>
      </td>
    </tr>
  }
</table>
